@import "../../../../scss/settings";

.cardPage {
  @extend %main_background;

  .cardsContainer {
    @extend %container;
    width: 100%;
    margin: 20px;
    padding: 30px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    color: white;


    .settingsField {
      display: grid;
      grid-template-columns: 30% 30% 20% 20%;
    }

    .cardsField {
      border-bottom: deeppink 2px solid;
      color: white;
      display: grid;
      grid-template-columns: 30% 30% 20% 20%;
    }

  }

}
