@import "../../scss/settings";

.restorePage {
  @extend %main_background
}

.loginBlock {
  @extend %container;
  margin: 20px;
  padding: 60px;
  height: 40vh;
}

.restoreBlock {
  @extend %container;
  margin: 20px;
  padding: 60px;
  width: 100%;
}