@import "../../../scss/settings";

.restorePage {
  @extend %main_background;

  @extend %errorMessage;

  .loginBlock {
    @extend %container;
    margin-top: 60px;
    padding: 60px;
    height: 40vh;
  }

  .restoreBlock {
    @extend %container;
    margin: 60px;
    padding: 60px;
    width: 100%;
  }

}