@import "src/scss/settings";

.tutorialPage {
  @extend %main_background;
  .cardQuestion {
    @extend %container;
    width: 100%;
    margin: 20px;
    padding: 30px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    color: white;
    display: grid;
    grid-template-rows: 40% 40% 20% ;
    font-size: 30px;

    .tutorialButtonsContainer {
      display: flex;
      justify-content: space-between;
    }

  }
}