.sliderWrapper {
    /*color: white;*/
    padding: 10px;
    box-shadow: 0 0 3px black;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #e7e8e9;
    border-radius: 0.5rem;
    display: flex;
}

.sliderWrapper span {
    padding: 0 3px;
}

.sliderWrapper span:hover {
    border: 1px solid;
    transition: 0.5s;
}

.sliderWrapper button {
    background: none;
    border: none;
    margin: 0 2px;
}

.sliderWrapper button:hover {
    border: 1px solid;
    transition: 0.5s;
}

.inputWrapper {
    float: right;
}

.inputWrapper  input{
    max-width: 50px;
    border: 1px solid #e7e8e9;
    border-radius: 0.5rem;
}